html {
  font-size: 48px; /* px means "pixels": the base font size is now 10 pixels high */
  font-family: "Kalam", sans-serif; /* this should be the rest of the output you got from Google Fonts */
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 60px;
  text-align: center;
}

p {
  font-size: 36px;
  line-height: 4;
  letter-spacing: 2px;
}

html {
  background-color: #D1AAF7;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: #ff9500;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

h1 {
  margin: 0;
  padding: 20px 20px;
  color: #00539f;
  text-shadow: 3px 3px  1px black;
}